# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage
/test-results
/playwright-report

# next.js
/.next/
/out/
/build
/dist

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
npm-debug.log*
